#allPage {
	width: 1020px;
	margin-left: auto;
	margin-right: auto;
}
header {
	position: relative;
	display: block;
	padding-bottom: 15px;
}
html, body {
	background-color: #F1DFD0;
	font-family: 'Roboto', sans-serif;
	color: black;
	position: relative;
	margin: 0px;
	padding: 0px;
	font-size: small;
}
#menu-items {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/* width of the nav menu */
#menu-items li {
	float: left;
	width: 204px;
	height: 40px;
	background-color: #EAE06E;
	line-height: 40px;
	text-align: center;
	font-size: small;
	font-variant: small-caps;
	text-transform: uppercase;
}
#menu-items li a {
	text-decoration: none;
	color: black;
	display: block;
}
#menu-items li a:hover {
	color: #FFFFFF;
	cursor: pointer;
	background-color: rgb(87, 178, 192);
}
#menu-items li ul li {
	display: none;
}
#menu-items li:hover ul li{
	display: block;
}
#container {
    padding: 20px;
}