vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-H2JD88E\\renan
vti_modifiedby:SR|DESKTOP-H2JD88E\\renan
vti_timelastmodified:TW|11 Mar 2019 21:26:00 -0000
vti_timecreated:TR|11 Mar 2019 20:59:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week09/Week09.html
vti_nexttolasttimemodified:TW|11 Mar 2019 21:26:00 -0000
vti_cacheddtm:TX|11 Mar 2019 21:26:00 -0000
vti_filesize:IR|904
vti_cachedlinkinfo:VX|S|images/trilliumgradient.png
vti_cachedsvcrellinks:VX|FSUS|Week09/images/trilliumgradient.png
