vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-H2JD88E\\renan
vti_modifiedby:SR|DESKTOP-H2JD88E\\renan
vti_timelastmodified:TW|11 Feb 2019 21:20:25 -0000
vti_timecreated:TR|11 Feb 2019 20:24:29 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|WEEK06/Week06.html
vti_nexttolasttimemodified:TW|11 Feb 2019 21:20:25 -0000
vti_cacheddtm:TX|11 Feb 2019 21:20:25 -0000
vti_filesize:IR|1227
vti_cachedlinkinfo:VX|S|images/trilliumbanner.jpg S|images/trilliumgradient.png S|images/trilliumbg.gif S|images/trillium.gif S|images/trilliumfoot.gif
vti_cachedsvcrellinks:VX|FSUS|WEEK06/images/trilliumbanner.jpg FSUS|WEEK06/images/trilliumgradient.png FSUS|WEEK06/images/trilliumbg.gif FSUS|WEEK06/images/trillium.gif FSUS|WEEK06/images/trilliumfoot.gif
