vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-H2JD88E\\renan
vti_modifiedby:SR|DESKTOP-H2JD88E\\renan
vti_timelastmodified:TW|25 Mar 2019 20:28:09 -0000
vti_timecreated:TR|25 Mar 2019 19:21:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Week11/PinkSandsBeach.html Week11/Anguilla.html Week11/PhiPhiIsland.html Week11/WhitehavenBeach.html Week11/Week11Template.dwt Week11/Home.html
vti_nexttolasttimemodified:TW|25 Mar 2019 20:28:09 -0000
vti_cacheddtm:TX|25 Mar 2019 20:28:09 -0000
vti_filesize:IR|864
vti_cachedlinkinfo:VX|S|images/BeachTripHeader.png
vti_cachedsvcrellinks:VX|FSUS|Week11/images/BeachTripHeader.png
