h1 {
	background-image: url('images/trilliumbanner.jpg');
	background-repeat: no-repeat;
	height: 86px;
	background-color: #D5ECB3;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	background-image: url('images/trilliumgradient.png');
}
h2 {
	font-family: Calibri;
	font-variant: small-caps;
	color: #339966;
	text-transform: capitalize;
	background-color: #D5ECB3;
	background-image: url('images/trilliumbg.gif');
	background-repeat: no-repeat;
	padding-left: 30px;
}
ul {
	list-style-image: url('images/trillium.gif');
}
footer {
	color: white;
	background-color: #005E00;
	background-image: url('images/trilliumfoot.gif');
	background-repeat: no-repeat;
	background-position: right;
	height: 80px;
	padding: 3px;
}
#copyright {
	font-size: x-small;
}
footer a {
	color: white;
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
}
footer a:hover {
	color: #005E00;
	background-color: #F1FDE0;
}
.pageLinks {
	text-decoration: none;
	color: #005E00;
}
.pageLinks:hover {
	color: white;
	background-color: #005E00;
	padding-right: 2px;
	padding-left: 2px;
}
#allPage {
	margin-right: auto;
	margin-left: auto;
	width: 980px;
}
